/* Add this CSS to your existing styles or create a new CSS file */

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #4eacff, #3a7bfc); /* Gradient background */
  background-size: cover;
  height: 100vh;
 
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color:transparent;
  border-radius: 50px;
}

.card {
  border: none;
}

.card-header h4 {
  margin-bottom: 0;
}

.card-body1 {
  padding: 20px;
  background:transparent;
  border-radius: 50px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: #050505;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.btn-primary {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #45a049;
}

Link {
  margin-top: 16px;
  display: block;
  text-align: center;
  color: #333;
}

/* Add Font Awesome icons */
.icon {
  margin-right: 8px;
}

@media (max-width: 728px) {
  .container {
    max-width: 90%;
  }
  .login {
    width: 200vw;
  }
}

.mb-3 {
  background-color: transparent;
}
from{
  background-color: transparent;
}