.resume{
    background: linear-gradient(to right, #95c4ed, #7aa0eb);
    height: 100vh;
}
.resume-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f4f4f4, #e0e0e0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .upload-button {
    background-color: #4285F0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285F0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    text-underline-offset:none;
  }
  
  .back-button:hover {
    background-color: #3165c7;
  }
  